<div class="container">
  <div class="user-show">
    <%= @user.name %>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
  </div>
  <div class="row">
    <div class="col-xs-6 user-average-score">
      <p class="p-average">AVERAGE SCORE</p>
    </div>
      <p class="average-score">
        <% if @user_record.present? %>
          <%= @user_record.average(:score).floor(1) %>
        <% end %>
      </p>
    <div class="col-xs-6 user-average-score">
      <p class="p-average">AVERAGE PUTT</p>
      <p class="average-putt">
        <% if @user_record.present? %>
          <%= @user_record.average(:putt) %>
        <% end %>
      </p>
    </div>
  </div>
  <%= column_chart @user_record.group(:days).sum(:score), class: 'score-chart' %>
  <p class="score-index">スコア一覧</p>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>日付</th>
        <th>コース</th>
        <th>スコア</th>
        <th>メンバー</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @user_record.each do |record| %>
        <tr>
          <td><%= record.days %></td>
          <td><%= record.course %></td>
          <td><%= record.score %></td>
          <td><%= record.member %></td>
          <td>
            <% if record.user_id == current_user.id %>
              <%= link_to "詳細", record_path(record), class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'スコアの追加', new_record_path %>
  <div class="row">
    <div class="new-record">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        スコアの追加
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">スコアの追加</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with model:@record, method: :post do |f| %>
              <div class="modal-body">
                <div class="form_group user-game-days">
                  <%= f.label :ラウンド日 %>
                  <%= f.date_field :days %>
                </div>
                <div class="form_group course">
                  <%= f.label :コース名 %>
                  <%= f.text_field :course %>
                </div>
                <div class="form_group user-score">
                  <%= f.label :スコア %>
                  <%= f.number_field :score, value: 0, min: 1 %><br>
                </div>
                <div class="form_group user-rival-score">
                  <%= f.label :パット %>
                  <%= f.number_field :putt, value: 0, min: 1 %>
                </div>
                <div class="form_group member">
                  <%= f.label :メンバー %>
                  <%= f.text_area :member, rows:3 %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <%= f.submit "記録を追加する", class: "btn btn-primary user-record-create" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
