<div class="container">
  <div class="score-container">
    <%= form_with model:@record, method: :post do |f| %>
      <div class="record-form">
        <div class="course-info">
          <div class="course-text">
            <i class="fas fa-flag"></i>
            <p>ゴルフ場情報</p>
          </div>
          <div class="form_group">
            <%= f.label :ゴルフ場 %>
            <%= f.text_area :course, rows:1 %>
          </div>
          <div class="form_group">
            <%= f.label :都道府県 %>
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
          </div>
        </div>
        <div class="play-info">
          <div class="play-text">
            <i class="fas fa-golf-ball"></i>
            <p>プレー情報</p>
          </div>
          <div class="form_group">
            <%= f.label :ラウンド日 %>
            <%= f.date_field :days %>
          </div>
          <div class="form_group">
            <%= f.label :天気 %>
            <%= f.select :weather, Record.weathers.keys, {} %>
          </div>
          <div class="form_group">
            <%= f.label :風 %>
            <%= f.select :wind, Record.winds.keys, {} %>
          </div>
        </div>
      </div>
      <div class="score-form">
        <div class="score-info">
          <%= f.label :１ホール %>
          <%= f.number_field :hole1 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt1 %>
        </div>
        <div class="score-info">
          <%= f.label :２ホール %>
          <%= f.number_field :hole2 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt2 %>
        </div>
        <div class="score-info">
          <%= f.label :３ホール %>
          <%= f.number_field :hole3 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt3 %>
        </div>
        <div class="score-info">
          <%= f.label :４ホール %>
          <%= f.number_field :hole4 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt4 %>
        </div>
        <div class="score-info">
          <%= f.label :５ホール %>
          <%= f.number_field :hole5 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt5 %>
        </div>
        <div class="score-info">
          <%= f.label :６ホール %>
          <%= f.number_field :hole6 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt6 %>
        </div>
        <div class="score-info">
          <%= f.label :７ホール %>
          <%= f.number_field :hole7 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt7 %>
        </div>
        <div class="score-info">
          <%= f.label :８ホール %>
          <%= f.number_field :hole8 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt8 %>
        </div>
        <div class="score-info">
          <%= f.label :９ホール %>
          <%= f.number_field :hole9 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt9 %>
        </div>
        <div class="score-info">
          <%= f.label :１０ホール %>
          <%= f.number_field :hole10 %>
          <%= f.label :パット %>
          <%= f.number_field :hole1_putt %>
        </div>
      </div>
          <div class="score-actions">
            <%= f.submit "登録する", class: "btn btn-info" %>
          </div>
    <% end %>
  </div>
</div>
