<div class="container">
  <div class="score-container">
    <%= form_with model:@record, method: :post do |f| %>
      <div class="record-form">
        <div class="form_group">
          <%= f.label :ラウンド日 %>
          <%= f.date_field :days %>
        </div>
        <div class="form_group">
          <%= f.label :ゴルフ場 %>
          <%= f.text_area :course, :rows:1 %>
        </div>
        <div class="form_group">
          <%= f.label :天気 %>
          <%= f.select :weather, Record.weathers.keys, {} %>
        </div>

      </div>
    <% end %>
  </div>
</div>