<div class="container">
  <div class="">
    <div class="record-show">
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>コース</th>
            <th>スコア</th>
            <th>パット</th>
          </tr>
        </thead>
        <tbody>
          <tr class="score-show">
            <td><%= @record.days %></td>
            <td><%= @record.course %></td>
            <td><%= @record.hole1 + @record.hole2 + @record.hole3 + @record.hole4 + @record.hole5 + @record.hole6 + @record.hole7 +
                    @record.hole8 + @record.hole9 + @record.hole10 + @record.hole11 + @record.hole12 + @record.hole13 + @record.hole14 +
                    @record.hole15 + @record.hole16 + @record.hole17 + @record.hole18 %></td>
            <td><%= @record.hole1_putt + @record.hole2_putt + @record.hole3_putt + @record.hole4_putt + @record.hole5_putt +
                    @record.hole6_putt + @record.hole7_putt + @record.hole8_putt + @record.hole9_putt + @record.hole10_putt +
                    @record.hole11_putt + @record.hole12_putt + @record.hole13_putt + @record.hole14_putt + @record.hole15_putt +
                    @record.hole16_putt + @record.hole17_putt + @record.hole18_putt %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "削除する", record_path(@record), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
      <%= link_to "編集する", edit_record_path(@record), class: 'btn btn-success' %>
    </div>
  </div>
</div>
